@font-face {
  font-family: 'icon54com';
  src:  url("");
  src:  url("") format('embedded-opentype'),
    url("") format('truetype'),
    url("") format('woff'),
    url("") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="BklynIcons-"]:not(.gouvjaukwro), 
[class*=" BklynIcons-"]:not(.gouvjaukwro) {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon54com' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.BklynIcons-Right-6:before {
  content: "\e977";
}
.BklynIcons-Gallery-1:before {
  content: "\e900";
}
.BklynIcons-by4-Hour:before {
  content: "\e901";
}
.BklynIcons-Addon:before {
  content: "\e902";
}
.BklynIcons-Addon-Setting:before {
  content: "\e903";
}
.BklynIcons-Angry-Birds:before {
  content: "\e904";
}
.BklynIcons-Application:before {
  content: "\e905";
}
.BklynIcons-Atom:before {
  content: "\e906";
}
.BklynIcons-Bad-3:before {
  content: "\e907";
}
.BklynIcons-Blend-Tool:before {
  content: "\e908";
}
.BklynIcons-Block-Chart-2:before {
  content: "\e909";
}
.BklynIcons-Box-1:before {
  content: "\e90a";
}
.BklynIcons-Busy-1:before {
  content: "\e90b";
}
.BklynIcons-Camera-Rear:before {
  content: "\e90c";
}
.BklynIcons-Cash-Pay:before {
  content: "\e90d";
}
.BklynIcons-Circle:before {
  content: "\e90e";
}
.BklynIcons-Clean-Code:before {
  content: "\e90f";
}
.BklynIcons-Clipboard-Write:before {
  content: "\e910";
}
.BklynIcons-Clock-1:before {
  content: "\e911";
}
.BklynIcons-Cloud-Database:before {
  content: "\e912";
}
.BklynIcons-Cloud-Server-1:before {
  content: "\e913";
}
.BklynIcons-Compas-Rose:before {
  content: "\e914";
}
.BklynIcons-Compass-2:before {
  content: "\e915";
}
.BklynIcons-Computer-Network-2:before {
  content: "\e916";
}
.BklynIcons-Computer-Sync:before {
  content: "\e917";
}
.BklynIcons-Cube-3:before {
  content: "\e918";
}
.BklynIcons-Cup-2:before {
  content: "\e919";
}
.BklynIcons-Delivery:before {
  content: "\e91a";
}
.BklynIcons-Diamond:before {
  content: "\e91b";
}
.BklynIcons-Digital-Design:before {
  content: "\e91c";
}
.BklynIcons-Disabled-man:before {
  content: "\e91d";
}
.BklynIcons-Distance-1:before {
  content: "\e91e";
}
.BklynIcons-Down-2:before {
  content: "\e91f";
}
.BklynIcons-Down-3:before {
  content: "\e920";
}
.BklynIcons-Download:before {
  content: "\e921";
}
.BklynIcons-Enlarge:before {
  content: "\e922";
}
.BklynIcons-Ethernet:before {
  content: "\e923";
}
.BklynIcons-Fan .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path8:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Fan .path9:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(169, 0, 0);
}
.BklynIcons-Fan .path10:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.BklynIcons-Financial-Care-2:before {
  content: "\e92e";
}
.BklynIcons-First-ad:before {
  content: "\e92f";
}
.BklynIcons-Flying-Rocket:before {
  content: "\e930";

}
.BklynIcons-Free-Tag-2:before {
  content: "\e931";
}
.BklynIcons-French-Fries:before {
  content: "\e932";
}
.BklynIcons-Gas-Pump:before {
  content: "\e933";
}
.BklynIcons-Gear-1:before {
  content: "\e934";
}
.BklynIcons-Hamburger:before {
  content: "\e935";
}
.BklynIcons-Hand-cargo:before {
  content: "\e936";
}
.BklynIcons-Handshake:before {
  content: "\e937";
}
.BklynIcons-Hat-3:before {
  content: "\e938";
}
.BklynIcons-Hearts-Empty:before {
  content: "\e939";
}
.BklynIcons-Hotspot-Mobile:before {
  content: "\e93a";
}
.BklynIcons-Increasing-Chart-1:before {
  content: "\e93b";
}
.BklynIcons-Lamp-2:before {
  content: "\e93c";
}
.BklynIcons-Lamp-3:before {
  content: "\e93d";
}
.BklynIcons-Laptop-1:before {
  content: "\e93e";
}
.BklynIcons-Left-2:before {
  content: "\e93f";
}
.BklynIcons-Left-3:before {
  content: "\e940";
}
.BklynIcons-Lens-1:before {
  content: "\e941";
}
.BklynIcons-Light-Bulb:before {
  content: "\e942";
}
.BklynIcons-Line-Chart-1:before {
  content: "\e943";
}
.BklynIcons-Map-Pin-2:before {
  content: "\e944";
}
.BklynIcons-Map-pin-6:before {
  content: "\e945";
}
.BklynIcons-Maximize-3:before {
  content: "\e946";
}
.BklynIcons-Medic:before {
  content: "\e947";
}
.BklynIcons-Minimize-1:before {
  content: "\e948";
}
.BklynIcons-Monitor-1:before {
  content: "\e949";
}
.BklynIcons-Mustache-1:before {
  content: "\e94a";
}
.BklynIcons-Navigation-1:before {
  content: "\e94b";
}
.BklynIcons-Office-Chair:before {
  content: "\e94c";
}
.BklynIcons-Office-Desk-2:before {
  content: "\e94d";
}
.BklynIcons-Paint-Bucket:before {
  content: "\e94e";
}
.BklynIcons-Paper-Clip-3:before {
  content: "\e94f";
}
.BklynIcons-Party-Glasses:before {
  content: "\e950";
}
.BklynIcons-Pen-Holder:before {
  content: "\e951";
}
.BklynIcons-Pie-Chart-1:before {
  content: "\e952";
}
.BklynIcons-Pin:before {
  content: "\e953";
}
.BklynIcons-Pizza-Slice:before {
  content: "\e954";
}
.BklynIcons-Plugin:before {
  content: "\e955";
}
.BklynIcons-Pokemon:before {
  content: "\e956";
}
.BklynIcons-Reduce:before {
  content: "\e957";
}
.BklynIcons-Responsive-Design:before {
  content: "\e958";
}
.BklynIcons-Right-2:before {
  content: "\e959";
}
.BklynIcons-Right-3:before {
  content: "\e95a";
}
.BklynIcons-Rocket-Launch:before {
  content: "\e95b";
}
.BklynIcons-Rotate-2:before {
  content: "\e95c";
}
.BklynIcons-Ruler-Tool:before {
  content: "\e95d";
}
.BklynIcons-Sailboat:before {
  content: "\e95e";
}
.BklynIcons-Sandwich:before {
  content: "\e95f";
}
.BklynIcons-Saturn:before {
  content: "\e960";
}
.BklynIcons-Scale-Tool:before {
  content: "\e961";
}
.BklynIcons-Screen-Rotation:before {
  content: "\e962";
}
.BklynIcons-Search:before {
  content: "\e963";
}
.BklynIcons-Selection-Tool:before {
  content: "\e964";
}
.BklynIcons-Share-File-1:before {
  content: "\e965";
}
.BklynIcons-Shoe-2:before {
  content: "\e966";
}
.BklynIcons-Smart-Devices:before {
  content: "\e967";
}
.BklynIcons-Smartphone:before {
  content: "\e968";
}
.BklynIcons-Smartwatch-EKG-1:before {
  content: "\e969";
}
.BklynIcons-Stormtrooper-2:before {
  content: "\e96a";
}
.BklynIcons-Tablet-1:before {
  content: "\e96b";
}
.BklynIcons-Telescope:before {
  content: "\e96c";
}
.BklynIcons-Tempometer:before {
  content: "\e96d";
}
.BklynIcons-Test-Flusk-1:before {
  content: "\e96e";
}
.BklynIcons-Text-box:before {
  content: "\e96f";
}
.BklynIcons-Theme:before {
  content: "\e970";
}
.BklynIcons-Umbrella:before {
  content: "\e971";
}
.BklynIcons-Up-2:before {
  content: "\e972";
}
.BklynIcons-Up-3:before {
  content: "\e973";
}
.BklynIcons-Upload:before {
  content: "\e974";
}
.BklynIcons-Waiting-room:before {
  content: "\e975";
}
.BklynIcons-Worms-Armagedon:before {
  content: "\e976";
}


@font-face {
  font-family: 'Brooklyn-Core';
  src:
    url("Brooklyn-Core.ttf") format('truetype'),
    url("Brooklyn-Core.woff") format('woff'),
    url("Brooklyn-Core.rpioqzcwvcvw") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="Bklyn-Core-"], [class*=" Bklyn-Core-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Brooklyn-Core' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Bklyn-Core-Volume-2-1:before {
  content: "\e904";
}
.Bklyn-Core-Volume-2-Mute:before {
  content: "\e905";
}
.Bklyn-Core-Anchor:before {
  content: "\e900";
}
.Bklyn-Core-Clock-1:before {
  content: "\e901";
}
.Bklyn-Core-Down-2:before {
  content: "\e902";
}
.Bklyn-Core-Down-3:before {
  content: "\e903";
}
.Bklyn-Core-Headset-1:before {
  content: "\e908";
}
.Bklyn-Core-Left-2:before {
  content: "\e90a";
}
.Bklyn-Core-Left-3:before {
  content: "\e90b";
}
.Bklyn-Core-Map-Pin-2:before {
  content: "\e90e";
}
.Bklyn-Core-Map-pin-6:before {
  content: "\e90f";
}
.Bklyn-Core-Maximize-3:before {
  content: "\e910";
}
.Bklyn-Core-Minimize-2:before {
  content: "\e911";
}
.Bklyn-Core-Photo-Library:before {
  content: "\e914";
}
.Bklyn-Core-Right-2:before {
  content: "\e915";
}
.Bklyn-Core-Right-3:before {
  content: "\e916";
}
.hqaxywvrluzjij:before {
  content: "\e917";
}
.Bklyn-Core-Rotate-2:before {
  content: "\e918";
}
.Bklyn-Core-Solid-Anchor:before {
  content: "\e919";
}
.Bklyn-Core-Solid-Clock-1:before {
  content: "\e91a";
}
.Bklyn-Core-Solid-Down-2:before {
  content: "\e91b";
}
.Bklyn-Core-Solid-Down-3:before {
  content: "\e91c";
}
.Bklyn-Core-Solid-Headset-1:before {
  content: "\e921";
}
.Bklyn-Core-Solid-Left-2:before {
  content: "\e923";
}
.Bklyn-Core-Solid-Left-3:before {
  content: "\e924";
}
.Bklyn-Core-Solid-Map-Pin-2:before {
  content: "\e927";
}
.Bklyn-Core-Solid-Map-pin-6:before {
  content: "\e928";
}
.Bklyn-Core-Solid-Photo-Library:before {
  content: "\e92b";
}
.Bklyn-Core-Solid-Right-2:before {
  content: "\e92c";
}
.Bklyn-Core-Solid-Right-3:before {
  content: "\e92d";
}
.Bklyn-Core-Solid-Right-6:before {
  content: "\e92e";
}
.Bklyn-Core-Solid-Up-2:before {
  content: "\e932";
}
.kogpurvtjoz:before {
  content: "\e933";
}
.Bklyn-Core-Up-2:before {
  content: "\e937";
}
.Bklyn-Core-Up-3:before {
  content: "\e938";
}

@font-face {
  font-family: 'Brooklyn-WooCommerce';
  src:
    url("") format('truetype'),
    url("") format('woff'),
    url("") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="BklynWoo-"], [class*=" BklynWoo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Brooklyn-WooCommerce' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.BklynWoo-Add-Shopping-Cart:before {
  content: "\e900";
}
.BklynWoo-Add:before {
  content: "\e901";
}
.BklynWoo-Add-Basket:before {
  content: "\e902";
}
.BklynWoo-Add-Cart:before {
  content: "\e903";
}
.BklynWoo-Bag-1:before {
  content: "\e904";
}
.BklynWoo-Bag-2:before {
  content: "\e905";
}
.BklynWoo-Basket-1:before {
  content: "\e906";
}
.BklynWoo-Black-Friday:before {
  content: "\e907";
}
.BklynWoo-Cart-1:before {
  content: "\e908";
}
.BklynWoo-Cart-2:before {
  content: "\e909";
}
.BklynWoo-Cart-Done:before {
  content: "\e90a";
}
.BklynWoo-Check-1:before {
  content: "\e90b";
}
.BklynWoo-Checkout-Bitcoin-1:before {
  content: "\e90c";
}
.BklynWoo-Checkout-Bitcoin-2:before {
  content: "\e90d";
}
.BklynWoo-Checkout-Dollar-1:before {
  content: "\e90e";
}
.BklynWoo-Checkout-Dollar-2:before {
  content: "\e90f";
}
.BklynWoo-Checkout-Euro-1:before {
  content: "\e910";
}
.BklynWoo-Checkout-Euro-2:before {
  content: "\e911";
}
.BklynWoo-Checkout-Pound-1:before {
  content: "\e912";
}
.BklynWoo-Checout-Pound-2:before {
  content: "\e913";
}
.BklynWoo-Clear-Basket:before {
  content: "\e914";
}
.BklynWoo-Clear-Cart:before {
  content: "\e915";
}
.BklynWoo-Discount-Bitcoin:before {
  content: "\e916";
}
.BklynWoo-Discount-Dollar:before {
  content: "\e917";
}
.BklynWoo-Discount-Euro:before {
  content: "\e918";
}
.BklynWoo-Discount-Pound:before {
  content: "\e919";
}
.BklynWoo-Done-Basket:before {
  content: "\e91a";
}
.BklynWoo-Error:before {
  content: "\e91b";
}
.BklynWoo-Favorite-Store:before {
  content: "\e91c";
}
.BklynWoo-Free-Tag-1:before {
  content: "\e91d";
}
.BklynWoo-Free-Tag-2:before {
  content: "\e91e";
}
.BklynWoo-Full-Cart:before {
  content: "\e91f";
}
.BklynWoo-Gift-Box:before {
  content: "\e920";
}
.BklynWoo-Gift-Card:before {
  content: "\e921";
}
.BklynWoo-Loyalty-Card:before {
  content: "\e922";
}
.BklynWoo-New-Tag-1:before {
  content: "\e923";
}
.BklynWoo-New-Tag-2:before {
  content: "\e924";
}
.BklynWoo-New-Tag-3:before {
  content: "\e925";
}
.BklynWoo-New-Tag-5:before {
  content: "\e926";
}
.BklynWoo-New-Tga-4:before {
  content: "\e927";
}
.BklynWoo-Play-Stor:before {
  content: "\e928";
}
.BklynWoo-Remouve-Basket:before {
  content: "\e929";
}
.BklynWoo-Remouve-Cart:before {
  content: "\e92a";
}
.BklynWoo-Remove-Shopping-Cart:before {
  content: "\e92b";
}
.BklynWoo-Remove:before {
  content: "\e92c";
}
.BklynWoo-Sale-1:before {
  content: "\e92d";
}
.BklynWoo-Sale-2:before {
  content: "\e92e";
}
.BklynWoo-Sale-Tag-1:before {
  content: "\e92f";
}
.BklynWoo-Search:before {
  content: "\e930";
}
.BklynWoo-Shopping-Bag:before {
  content: "\e931";
}
.BklynWoo-Shopping-Basket:before {
  content: "\e932";
}
.BklynWoo-Shopping-Cart:before {
  content: "\e933";
}
.BklynWoo-User-1:before {
  content: "\e934";
}

