.ycgespfexq .ljwwdyrerokgww {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

.ycgespfexq form .dospkcxagzue {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.ycgespfexq form.wpvvhylqwswz .dospkcxagzue {
	display: none;
}

.ycgespfexq form.sent .dospkcxagzue {
	border-color: #46b450; /* Green */
}

.ycgespfexq form.eyhggwlgfdufloriled .dospkcxagzue,
.ycgespfexq form.aborted .dospkcxagzue {
	border-color: #dc3232; /* Red */
}

.ycgespfexq form.spam .dospkcxagzue {
	border-color: #f56e28; /* Orange */
}

.ycgespfexq form.invalid .dospkcxagzue,
.ycgespfexq form.unaccepted .dospkcxagzue {
	border-color: #ffb900; /* Yellow */
}

.qefdkzeadfprlz {
	position: relative;
}

.ycgespfexq-not-valid-tip {
	color: #dc3232;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .ycgespfexq-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
}

span.eixrarussq {
	display: inline-block;
	margin: 0 0 0 1em;
}

span.eixrarussq-label::before,
span.eixrarussq-label::after {
	content: " ";
}

div.ycgespfexq .qakdrwxsjeiu {
	visibility: hidden;
	display: inline-block;
	background-image: url("ajax-loader.gif");
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;
}

div.ycgespfexq .qakdrwxsjeiu.is-active {
	visibility: visible;
}

div.ycgespfexq div.ajax-error {
	display: none;
}

div.ycgespfexq .placeheld {
	color: #888;
}

div.ycgespfexq input[type="file"] {
	cursor: pointer;
}

div.ycgespfexq input[type="file"]:disabled {
	cursor: default;
}

div.ycgespfexq .iujrrktuikjvu:disabled {
	cursor: not-allowed;
}

.ycgespfexq input[type="url"],
.ycgespfexq input[type="email"],
.ycgespfexq input[type="tel"] {
	direction: ltr;
}
