.alpha {padding-left: 0!important;}
.omega{padding-right: 0!important;}

.panel-grid .widget{  background: transparent;    padding: 0;    margin: 0;}

.glyphicon{top: 0;}


.leptfrtrxjhli:after {
    clear: both;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}



/* Seleton Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*.container {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*max-width: 960px;*/
    /*margin: 0 auto;*/
    /*padding: 0 20px;*/
    /*box-sizing: border-box; }*/

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
    /*.container {*/
        /*width: 85%;*/
        /*padding: 0;*/
    /*}*/
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    /*.container {*/
        /*width: 80%; }*/
    .column,
    .columns {
        margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
        margin-left: 0; }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .xjjszdzsedgkiset-by-one.column,
    .xjjszdzsedgkiset-by-one.columns          { margin-left: 8.66666666667%; }
    .xjjszdzsedgkiset-by-two.column,
    .xjjszdzsedgkiset-by-two.columns          { margin-left: 17.3333333333%; }
    .xjjszdzsedgkiset-by-three.column,
    .xjjszdzsedgkiset-by-three.columns        { margin-left: 26%;            }
    .xjjszdzsedgkiset-by-four.column,
    .xjjszdzsedgkiset-by-four.columns         { margin-left: 34.6666666667%; }
    .xjjszdzsedgkiset-by-five.column,
    .xjjszdzsedgkiset-by-five.columns         { margin-left: 43.3333333333%; }
    .xjjszdzsedgkiset-by-six.column,
    .xjjszdzsedgkiset-by-six.columns          { margin-left: 52%;            }
    .xjjszdzsedgkiset-by-seven.column,
    .xjjszdzsedgkiset-by-seven.columns        { margin-left: 60.6666666667%; }
    .xjjszdzsedgkiset-by-eight.column,
    .xjjszdzsedgkiset-by-eight.columns        { margin-left: 69.3333333333%; }
    .xjjszdzsedgkiset-by-nine.column,
    .xjjszdzsedgkiset-by-nine.columns         { margin-left: 78.0%;          }
    .xjjszdzsedgkiset-by-ten.column,
    .xjjszdzsedgkiset-by-ten.columns          { margin-left: 86.6666666667%; }
    .xjjszdzsedgkiset-by-eleven.column,
    .xjjszdzsedgkiset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .xjjszdzsedgkiset-by-one-third.column,
    .xjjszdzsedgkiset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .xjjszdzsedgkiset-by-two-thirds.column,
    .xjjszdzsedgkiset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .xjjszdzsedgkiset-by-one-half.column,
    .xjjszdzsedgkiset-by-one-half.columns     { margin-left: 52%; }

}




/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
/*.container:after,*/
/*.row:after,*/
/*.u-cf {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both; }*/


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
